body {

    background-size: cover;
    overflow: hidden;

    /* transition: background-color 1s ease-out;*/

}

h1 {
    top:22%;
    position: absolute;
    left: 50%;
    color: black;
    font: 400 500% 'LoRes 12 OT', serif;
}

img
{
    top:0;
    margin-left: -150%;
    z-index: 1;
    height: 40%;
    position:absolute;
    margin-top: 10%;
    -webkit-animation:myfirst 17s infinite; /* Chrome, Safari, Opera */
    animation:myfirst 17s;
}

/* Chrome, Safari, Opera */


/* Standard syntax */
@keyframes myfirst
{
    0%   { left:25%; top:0;transform:rotate(29deg)}
    50%  {left:100%; margin-left:100px;}
    100% {left:30%; top:0;transform:rotate(-20deg)}
}

@keyframes loading {
    from { max-width: 0; }
}

h1:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    max-width: 4em;
    color: #4e4e4e;
    animation: loading 4s linear;


}

