



@keyframes loading {
    from { max-width: 0; }
}

h1:before {
    content: attr(data-content);
    position: absolute;
    overflow: hidden;
    max-width:100%;

  left:45%;
    color: #4e4e4e;
    animation: loading 4s linear;
z-index: 300000;

}

